.carousel {
  
  --card-count: 3;
  --card-width: 75%; // single slide within BS .container

  @media (min-width: 576px) {
    --card-width: 50%; // 2 slides visible within BS .container
  }

  @media (min-width: 992px) {
    --card-width: 25%; // 4 slides visible within BS .container
  }

  // @media (min-width: 1320px) {
  //   --card-count: 5;
  //   --card-width: 20%;
  //   grid-auto-flow: initial;
  // }

  grid-template-columns: repeat(var(--card-count), var(--card-width)); // how many slides should fit in viewport
  grid-auto-flow: column;

  // @media (min-width: 1680px) {
  //   grid-auto-flow: column;
  //   grid-template-columns: auto;
  // }

  &-container {
    overflow-x: scroll;
    scroll-behavior: smooth;
    // -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;

    @media (min-width: 1320px) {
      overflow: visible;
    }

    &::-webkit-scrollbar {
      height: 0;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      border: 3px solid transparent;
      background-clip: content-box;
      background-color: rgb(255 255 255 / 20%);
    }
  }

  &-nav {
    z-index: 1;
  }

  .card {
    flex-shrink: 0;
    scroll-snap-align: center; 
    scroll-snap-stop: always; // conflicting with js IntersectionObserver

    @media (min-width: 768px) {
      scroll-snap-stop: unset;
      scroll-snap-align: unset;
    }
  }

}